.navContainer {
  padding-left: var(--diagonal-offset);
}

.mobileIcon {
  animation: mobileIconAppearAnim 0.25s;
}
@keyframes mobileIconAppearAnim {
  from {
    opacity: 0;
    transform: translateY(20%);
  }
}
